@media (max-width: 1000px) {
    .courses-container {
        display: flex;         
        flex-wrap: wrap !important;
    }
    .courseStatus,
    .courseList {
       width: 100% !important;
       margin: auto;
    }
}
@media (max-width: 600px) {
    .courseCard {
       margin: auto !important;
    }
}