.weblog,
.Detailcontainer {
   display: flex;
}
.weblogList {
  width: 857px;
}
.DetailImage {
  width: 300px;
} 
.DetailInfo {
  width: 492px;
}
@media (max-width: 1050px) {
  .categorycontaner {
     flex-wrap: wrap !important;
  }
  .WeblogAndNewsInfo {
     width: 100%;
  }
  .CategoryList {
    width: 100% !important;
  }
}
@media (max-width: 950px) {
   .weblog {
      display: block;
   }
   .WeblogAndNewsInfo {
     width: 100%;
   }
   .weblogList {
     width: 100%;
   }
   .Detailcontainer {
    display: block;
    }
    .detailCard,
    .weblogStatus,
    .DetailImage,
    .DetailInfo  {
      width: 100%;
    }
    .categoryDetail {
      flex-wrap: wrap !important;
    }
}
@media (max-width: 600px) {
  .WeblogCard {
    width: 350px;
    height: 400px;
    margin-top: 15px;
  }
  .card-Img {
    height: 180px;
  }
}
